@import '../../base.scss';

.news-ctr{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:100%;

}
.news-img{
  max-width: 40%;
  min-width:40%;
}
.news-desc{
  text-align: center;
  justify-content: center;
}