$header-color: #011638;
$link-font: #97F9F9;
$hover: #7B7B7F;
$header-shadow: rgba(41, 41, 48, .65);
$news-bg: #CDCDCD;
$ticker-bg: #CDCDCD;
$border: rgb(202, 202, 207);
$info-bg: #CDCDCD;
$scroll-bg: #364156;
$scroll-title: rgba(170, 163, 170, 0.1);
$coin-info-text:#364156;
$app-bg: #E3E6E5;
$app-text:#011638;
$scroll-header: #E3E6E5;

