$header-color: #303036;
$link-font: #68CEF1;
$hover: #7B7B7F;
$header-shadow: rgba(41, 41, 48, .65);
$news-bg: #E8E4E8;
$ticker-bg: #E8E4E8;
$border: rgb(202, 202, 207);
$info-bg: #E8E4E8;
$scroll-bg: #0D2C54;
$scroll-title: rgba(170, 163, 170, 0.8);
$coin-info-text:#0D2C54;