@import '../../base.scss';

.dashboard-ctr{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top:8vh;
  font-size: 20px;
  
}
.db-title{
  margin:20px;
}

.db-welcome{
  margin:20px;
}