@import '../../base.scss';

.dashboard-ctr{
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top:8vh;
  font-size: 20px;
  margin: 0 auto;
  
}
.db-title{
  // margin:20px;
}

.db-welcome{
  // margin:20px;
}