.CoinInfo {
  margin-top: 100px;
  @include flexbox(column, space-around);

  &__header {
    @include flexbox(row, space-between);
    width: 100vw;
    padding: 0 75px;
    align-items: center;

    &--left {
      @include flexbox();
      align-items: center;
    }

    &--image {
      height: 150px;
    }
    &--title{
      font-size: 70px;
      margin-left: 30px;
    }
    &--button{
      margin-right: 100px;
    }
  }
}