
.home-bs {
  margin-top: 7vh;
}

.home-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  margin: 10px;
  text-align: center;
}

.coin-home-ctr {
  background-color: $scroll-bg;
  padding: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: auto;
  width: 100%;
}